@model IEnumerable<Appli_gestion_cla.Models.Absence>

@{
    ViewData["Title"] = "Absence_Etudiant";
}

<h1>Absence</h1>
@if(User.IsInRole("Admin") || User.IsInRole("Prof"))
{
    <p>
        <a asp-action="Create">Ajout</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Heure_Absence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Heure_Absence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtudiantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClasseId)
            </td>
                @if (User.IsInRole("Admin") || User.IsInRole("Prof"))
                {
                    <td>
                        <a classe="delete" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
