@model IEnumerable<Appli_gestion_cla.Models.Matiere>

@{
    ViewData["Title"] = "Liste_Matiere";
}

<h1 class="size2">Liste_Matiere</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="size" asp-action="Create">Nouvelle matiere</a>
    </p>
}

<table class="table">
    <thead>
        <tr class="size">
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nbr_heure)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="size">
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nbr_heure)h
            </td>


                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a classe="edit" asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                        <a class="detail" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="delete" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                    </td>
                }
            
        </tr>
}
    </tbody>
</table>
