@model Appli_gestion_cla.Models.Note

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Note</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEvaluation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEvaluation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeEvaluation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeEvaluation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etudiant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etudiant.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Affectation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Affectation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
