@model IEnumerable<Appli_gestion_cla.Models.Note>

@{
    ViewData["Title"] = "Notes";
}

<h1 class="size2">Notes_Etudiants</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Prof"))
{
    <p>
        <a class="size" asp-action="Create">Ajout_Note</a>
    </p>
}

<table class="table">
    <thead>
        <tr class="size">
            <th>
                @Html.DisplayNameFor(model => model.Valeur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEvaluation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeEvaluation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Affectation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="size">
            <td>
                @Html.DisplayFor(modelItem => item.Valeur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEvaluation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeEvaluation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etudiant.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Affectation.Id)
            </td>

            @if (User.IsInRole("Admin") || User.IsInRole("Prof"))
            {
              <td>
                  <a class="edit" asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                  <a class="detail" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                  <a class="delete" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
              </td>
            }
           
        </tr>
}
    </tbody>
</table>
