@model IEnumerable<Appli_gestion_cla.Models.Etudiant>

@{
    ViewData["Title"] = "Nouveau Etudiant";
}

<h1 class="size2">Registre_ETUDIANT</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="size" asp-action="Create">Ajouter_Etudiant</a>
    </p>
}

<table class="table">
    <thead>
        <tr class="size">
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>

            <th>

                @Html.DisplayNameFor(model => model.Classe)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="size">
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classe.Nom_salle)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>

                        <a class="edit" asp-action="Edit" asp-route-id="@item.Id">Modifier</a>  |
                        <a class="delete" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>

                    </td>
                }
                
        </tr>
}
    </tbody>
</table>
