@model IEnumerable<Appli_gestion_cla.Models.Enseignant>

@{
    ViewData["Title"] = "Registre_Enseignant";
}

<h1 class="size2">Registre_Enseignant</h1>

<p>
    <a class="size" asp-action="Create">Ajouter_Enseignant</a>
</p>
<table class="table">
    <thead>
        <tr class="size">
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="size">
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            
            <td>
                <a class="edit" asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a class="detail" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="delete" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
